/* Container du toast */
.p-toast {
  z-index: 99999 !important;
}

/* Message du toast */
.p-toast-message-content,
.p-toast-message-content * {
  color: white !important;
}

/* Couleurs par type */
.p-toast-message-success {
  background-color: #0e9b05 !important;
}

.p-toast-message-info {
  background-color: #0148b0 !important;
}

.p-toast-message-warn {
  background-color: #f2bf35 !important;
}

.p-toast-message-error {
  background-color: #b00202 !important;
}
